.mg-top-3 {
    margin-top: 15px;
}

.mg-right-5 {
    margin-right: 25px;
}

.flex {
    display: flex
}

.grid {
    display: grid;
}

.profile-img {
    width: 250px;
    height: 250px;
}

.hidden {
    display: none;
}